.hero_img {
    height: auto; 
    width: 100%;
    object-fit: contain;
  }
  
  @media screen and (min-width: 501px) and (max-width: 840px) {
    .hero_img {
      height: auto;
      object-fit: contain;
    }
  } 
  
  @media screen and (min-width: 300px) and (max-width: 500px) {
    .hero_img {
      height: auto;
      object-fit: contain;
    }
  }
  