.hero_img {
    height: 75%; 
    width: 100%;
    object-fit: contain;
  }
  
  @media screen and (min-width: 501px) and (max-width: 840px) {

  } 
  
  @media screen and (min-width: 300px) and (max-width: 500px) {

  }
  