.five{
  position:relative;
  height: auto;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel-image.current {
  animation: none;
  opacity: 1;
  z-index: 1;
}

.carousel-image.next {
  animation: none;
  opacity: 0;
  z-index: 2;
}
