* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(4, 99, 47);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 30px;
  font-size: 1.3em;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fca311;
}

.nav-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 6px;
  color: #fff;
}

.nav-dropdown {
  position: relative;
  background-color: rgb(4, 75, 36);
  float: left;
  top: 65%;
}

.nav-item:nth-child(2) {
  margin-right: 40px;
}

.nav-item:nth-child(5) {
  margin-right: 40px;
}

.nav-item:nth-child(6) {
  margin-right: 40px;
}

.nav_img {
  height: 70px;
  width: 70px;
}

.dropdown_icon {
  position: absolute;
  margin-top: 3px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.nav-link .dropdown_icon.active {
  transform: rotate(0);
}

.nav-item:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  position: absolute;
  min-width: 160px;
  z-index: 1;
  display: none;
}

.nav-dropdown-link {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.nav-dropdown-link:hover {
  background-color: #fca311;
}

@media screen and (min-width: 601px) and (max-width: 1060px) {
  .nav-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    flex-direction: column;
    background-color: rgb(4, 99, 47);
    width: 100%;
    opacity: 0; 
    transition: all 0.5s ease;
    z-index: 2; 
  }

  .nav-menu.active {
    left: 0;
    opacity: 1; 
  }

  .nav-dropdown-link {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding: 20px 20px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .nav-item:nth-child(2) {
    margin-right: 0;
  }

  .nav-item:nth-child(5) {
    margin-right: 0;
  }

  .nav-item:nth-child(6) {
    margin-right: 0;
  }
  .nav-dropdown {
    position: relative;
    float: none;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav-icon {
    margin-top: 0;
  }

  .nav_img {
    height: 50px;
    width: 50px;
  }

  .navbar {
    height: 60px;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    background-color: rgb(4, 99, 47);
    width: 100%;
    opacity: 0; 
    transition: all 0.5s ease;
    z-index: 2; 
  }

  .nav-menu.active {
    left: 0;
    opacity: 1; 
  }

  .nav-dropdown-link {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    padding: 20px 20px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .nav-item:nth-child(2) {
    margin-right: 0;
  }

  .nav-item:nth-child(5) {
    margin-right: 0;
  }

  .nav-item:nth-child(6) {
    margin-right: 0;
  }
  .nav-dropdown {
    position: relative;
    float: none;
    top: 0;
  }
}
