.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity 1s ease-in-out;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(4, 99, 47);
    color: white;
    font-size: 24px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }