.footer {
    background: rgb(5, 112, 53);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}

.footer a {
    color: white;
}

.footer__logo {
    margin-top: 1rem;
    display: inline-block;
}

* {
    text-decoration: none;
    list-style-type: none;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    background: rgb(232,195,0);
    color: #04632f;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    color: white;
}

.footer__copyright {
    margin-bottom: 1rem;
    color: white;
}

@media screen and (max-width: 600px) {
    .links {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}